In [1]:
import pymongo

In [2]:
myclient = pymongo.MongoClient('mongodb://localhost:27017') #initializing a mongodb connection #default

In [3]:
#createsadatabase called employees

In [4]:
mydb = myclient['employees']

In [5]:
#creates a table(collection) called transactions

In [6]:
mycol = mydb['transactions']

In [7]:
columns = ["id","name","product","amount","saleprice","status","date"]

In [8]:
## to enter a single record

In [9]:
#mydict = {"_id":"001","name":"Mary A","product":"book","amount":"900","saleprice":"15","status":"sold","date":"2021-07-08"}
#x = mycol.insert_one(mydict)

In [21]:
counter = True
while counter:
    user_id = input("Id: ")
    name = input("Name: ")
    product= input("Product: ")
    amount = int(input("Amount: "))
    saleprice = float(input("Saleprice: "))
    status = input("Status: ")
    date = input("Date YYYY-M-D: ")
    
    mydict = {"_id":user_id,"name":name,"product":product,"amount":amount,"saleprice":saleprice,"status":status,"date":date}
    x = mycol.insert_one(mydict)
    
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit: "))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

Id: 16
Name: mARIA DB
Product: ANY
Amount: 100
Saleprice: 1000
Status: Unbranded
Date YYYY-M-D: 2021-09-03
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit: 0
Thank you!!

In [35]:
x=mycol.find()
x

In [36]:
for data in mycol.find():
    print(data)

{'_id': '001', 'name': 'Mary A', 'product': 'book', 'amount': '900', 'saleprice': '15', 'status': 'sold', 'date': '2021-07-08'}
{'_id': '1', 'name': 'Aniita', 'product': 'Phone', 'amount': 2000, 'saleprice': 50000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': 'Mary', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 5000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': 'Kolawole', 'name': 'Kolawole', 'product': 'Car', 'amount': 4, 'saleprice': 1000000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': '2', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 2000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': '11', 'name': 'marvellous A', 'product': 'Pen', 'amount': 20, 'saleprice': 300.0, 'status': 'Branded', 'date': '2021-03-04'}
{'_id': '12', 'name': 'Monday Goodness', 'product': 'Book', 'amount': 4, 'saleprice': 4000.0, 'status': 'Unbranded', 'date': '2021-05-09'}
{'_id': '15', 'name': 'Miracle A', 'product': 'car', 'amount': 4, 'saleprice': 9000000.0, 'status': 'Branded', 'date': '2022-01-01'}
{'_id': '14', 'name': 'Favour S', 'product': 'Houses', 'amount': 3, 'saleprice': 5000000.0, 'status': 'Branded', 'date': '2022-01-01'}
{'_id': '16', 'name': 'mARIA DB', 'product': 'ANY', 'amount': 100, 'saleprice': 1000.0, 'status': 'Unbranded', 'date': '2021-09-03'}

### ETL TRANSFORMATION PROCESS

In [37]:
mylist = []

In [38]:
for data in x:
    mylist.append(data)
    print(data)

{'_id': '001', 'name': 'Mary A', 'product': 'book', 'amount': '900', 'saleprice': '15', 'status': 'sold', 'date': '2021-07-08'}
{'_id': '1', 'name': 'Aniita', 'product': 'Phone', 'amount': 2000, 'saleprice': 50000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': 'Mary', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 5000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': 'Kolawole', 'name': 'Kolawole', 'product': 'Car', 'amount': 4, 'saleprice': 1000000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': '2', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 2000000.0, 'status': 'Valid', 'date': '2021-07-08'}
{'_id': '11', 'name': 'marvellous A', 'product': 'Pen', 'amount': 20, 'saleprice': 300.0, 'status': 'Branded', 'date': '2021-03-04'}
{'_id': '12', 'name': 'Monday Goodness', 'product': 'Book', 'amount': 4, 'saleprice': 4000.0, 'status': 'Unbranded', 'date': '2021-05-09'}
{'_id': '15', 'name': 'Miracle A', 'product': 'car', 'amount': 4, 'saleprice': 9000000.0, 'status': 'Branded', 'date': '2022-01-01'}
{'_id': '14', 'name': 'Favour S', 'product': 'Houses', 'amount': 3, 'saleprice': 5000000.0, 'status': 'Branded', 'date': '2022-01-01'}
{'_id': '16', 'name': 'mARIA DB', 'product': 'ANY', 'amount': 100, 'saleprice': 1000.0, 'status': 'Unbranded', 'date': '2021-09-03'}

In [39]:
print(mylist)

[{'_id': '001', 'name': 'Mary A', 'product': 'book', 'amount': '900', 'saleprice': '15', 'status': 'sold', 'date': '2021-07-08'}, {'_id': '1', 'name': 'Aniita', 'product': 'Phone', 'amount': 2000, 'saleprice': 50000.0, 'status': 'Valid', 'date': '2021-07-08'}, {'_id': 'Mary', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 5000000.0, 'status': 'Valid', 'date': '2021-07-08'}, {'_id': 'Kolawole', 'name': 'Kolawole', 'product': 'Car', 'amount': 4, 'saleprice': 1000000000.0, 'status': 'Valid', 'date': '2021-07-08'}, {'_id': '2', 'name': 'Mary', 'product': 'Car', 'amount': 2, 'saleprice': 2000000.0, 'status': 'Valid', 'date': '2021-07-08'}, {'_id': '11', 'name': 'marvellous A', 'product': 'Pen', 'amount': 20, 'saleprice': 300.0, 'status': 'Branded', 'date': '2021-03-04'}, {'_id': '12', 'name': 'Monday Goodness', 'product': 'Book', 'amount': 4, 'saleprice': 4000.0, 'status': 'Unbranded', 'date': '2021-05-09'}, {'_id': '15', 'name': 'Miracle A', 'product': 'car', 'amount': 4, 'saleprice': 9000000.0, 'status': 'Branded', 'date': '2022-01-01'}, {'_id': '14', 'name': 'Favour S', 'product': 'Houses', 'amount': 3, 'saleprice': 5000000.0, 'status': 'Branded', 'date': '2022-01-01'}, {'_id': '16', 'name': 'mARIA DB', 'product': 'ANY', 'amount': 100, 'saleprice': 1000.0, 'status': 'Unbranded', 'date': '2021-09-03'}]

In [52]:
print(mylist[0]['_id'])

001

In [53]:
import pandas as pd

In [54]:
df = pd.DataFrame(mylist)
df

        _id             name product amount saleprice     status        date
0       001           Mary A    book    900        15       sold  2021-07-08
1         1           Aniita   Phone   2000     50000      Valid  2021-07-08
2      Mary             Mary     Car      2     5e+06      Valid  2021-07-08
3  Kolawole         Kolawole     Car      4     1e+09      Valid  2021-07-08
4         2             Mary     Car      2     2e+06      Valid  2021-07-08
5        11     marvellous A     Pen     20       300    Branded  2021-03-04
6        12  Monday Goodness    Book      4      4000  Unbranded  2021-05-09
7        15        Miracle A     car      4     9e+06    Branded  2022-01-01
8        14         Favour S  Houses      3     5e+06    Branded  2022-01-01
9        16         mARIA DB     ANY    100      1000  Unbranded  2021-09-03

In [ ]:
print(mylist)