### Connecting to the Mysql server

In [2]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost", user="root",password="")

In [3]:
#Confirm the connection

In [8]:
mydb

In [9]:
## create an instance of the connection and connect to the database

In [10]:
cursor=mydb.cursor()

In [13]:
cursor.execute("USE employees")

In [14]:
mydb = mysql.connector.connect(host="localhost", user="root",password="",database ="employees")

In [15]:
cursor= mydb.cursor()

### INSERTING DATA INTO THE DATABASE AND EXTRACTION

In [16]:
cursor.execute("CREATE TABLE IT (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), status VARCHAR(255), salary INT, department VARCHAR(255), position VARCHAR(255), high_date VARCHAR(255))")
mydb.commit()

In [18]:
counter = True
while counter:
    name = input('Enter your name: ')
    status = input('Enter your status')
    salary = int(input('Enter your salary: '))
    department = input('Enter your department: ')
    position = input('Enter your position: ')
    date = input('Enter date "YYYY-M-D": ')
    vals = (name,status,salary,department,position,date)
    sql = "INSERT INTO IT(name,status,salary,department,position,high_date) VALUES(%s,%s,%s,%s,%s,%s)"
    cursor.execute(sql,vals)
    mydb.commit()
    print('Data has been inserted!!!')
    print('Do you want to continue?')
    value = int(input("Enter 1 to continue and 0 to quit"))
    if value == 1:
        pass
    elif value == 0:
        print('Thank you!!')
        counter = False
    else:
        break

Enter your name: Peter Obong
Enter your statusNo
Enter your salary: 2000
Enter your department: maintenances
Enter your position: Cleaner
Enter date "YYYY-M-D": 2021-08-01
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your name: Betty Irabor
Enter your statusYes
Enter your salary: 200000
Enter your department: Technical
Enter your position: Data Analyst
Enter date "YYYY-M-D": 2021-09-09
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your name: Adegbola Olorunloju
Enter your statusYes
Enter your salary: 30000
Enter your department: Techncal
Enter your position: Quality Analyst
Enter date "YYYY-M-D": 2021-08-01
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your name: Mercy Joy
Enter your statusSenior Data Scientist
Enter your salary: 4000000
Enter your department: IT
Enter your position: Senior Data Scientist
Enter date "YYYY-M-D": 2021-08-08
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit1
Enter your name: Funmilayo Aina
Enter your statusYes
Enter your salary: 9000000000
Enter your department: Technical
Enter your position: Chief Data Scientist
Enter date "YYYY-M-D": 2021-09-09
Data has been inserted!!!
Do you want to continue?
Enter 1 to continue and 0 to quit0
Thank you!!

In [19]:
cursor.execute("SELECT * FROM IT")
rows = cursor.fetchall()
print(rows)

[(1, 'Emeto Winner', 'Yes', 90000, 'IT', 'Facilitator', '2021-08-04'), (2, 'Peter Obong', 'No', 2000, 'maintenances', 'Cleaner', '2021-08-01'), (3, 'Betty Irabor', 'Yes', 200000, 'Technical', 'Data Analyst', '2021-09-09'), (4, 'Adegbola Olorunloju', 'Yes', 30000, 'Techncal', 'Quality Analyst', '2021-08-01'), (5, 'Mercy Joy', 'Senior Data Scientist', 4000000, 'IT', 'Senior Data Scientist', '2021-08-08'), (6, 'Funmilayo Aina', 'Yes', 2147483647, 'Technical', 'Chief Data Scientist', '2021-09-09')]

### TRANSFORMATION PROCESS

In [20]:
mylist = []

In [24]:
# creating a list of dictionary

In [22]:
for row in rows:
    mylist.append({'id':row[0], 'name':row[1], 'status':row[2], 'salary':row[3], 'department':row[4], 'position':row[5], 'data':row[6]})

In [25]:
mylist

[{'id': 1,
  'name': 'Emeto Winner',
  'status': 'Yes',
  'salary': 90000,
  'department': 'IT',
  'position': 'Facilitator',
  'data': '2021-08-04'},
 {'id': 2,
  'name': 'Peter Obong',
  'status': 'No',
  'salary': 2000,
  'department': 'maintenances',
  'position': 'Cleaner',
  'data': '2021-08-01'},
 {'id': 3,
  'name': 'Betty Irabor',
  'status': 'Yes',
  'salary': 200000,
  'department': 'Technical',
  'position': 'Data Analyst',
  'data': '2021-09-09'},
 {'id': 4,
  'name': 'Adegbola Olorunloju',
  'status': 'Yes',
  'salary': 30000,
  'department': 'Techncal',
  'position': 'Quality Analyst',
  'data': '2021-08-01'},
 {'id': 5,
  'name': 'Mercy Joy',
  'status': 'Senior Data Scientist',
  'salary': 4000000,
  'department': 'IT',
  'position': 'Senior Data Scientist',
  'data': '2021-08-08'},
 {'id': 6,
  'name': 'Funmilayo Aina',
  'status': 'Yes',
  'salary': 2147483647,
  'department': 'Technical',
  'position': 'Chief Data Scientist',
  'data': '2021-09-09'}]

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame(mylist)
df

,id,name,status,salary,department,position,data
0,1,Emeto Winner,Yes,90000,IT,Facilitator,2021-08-04
1,2,Peter Obong,No,2000,maintenances,Cleaner,2021-08-01
2,3,Betty Irabor,Yes,200000,Technical,Data Analyst,2021-09-09
3,4,Adegbola Olorunloju,Yes,30000,Techncal,Quality Analyst,2021-08-01
4,5,Mercy Joy,Senior Data Scientist,4000000,IT,Senior Data Scientist,2021-08-08
5,6,Funmilayo Aina,Yes,2147483647,Technical,Chief Data Scientist,2021-09-09